.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title{
    padding: 15px;
    margin: inherit;
    margin-right: 15px;
}

.content-g {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 30px;
    
}

.content-p {
    width: max-content;
    margin: 10px 5px 5px 10px;
    border-radius: 30px;
    background-color: lightblue;
    padding: 15px;
}

.content-s {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.content-ps {
    width: max-content;
    border-radius: 30px;
    background-color: aquamarine;
    padding: 15px;
    margin: 10px 5px 5px 10px;
}

.title-s {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.p-count {
    align-items: center;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 8px;
    border-radius: 30px;
    background-color: darkgray;
}

.img{
    height: 30px;
    width: 30px;
}