  <div class="alert alert-danger" role="alert">
    <h4 class="alert-title">{{ __('A field is missing !', 'centreon')}}</h4>
    <div class="text-muted">{{ __('Please check again', 'centreon')}}</div>
  </div>